package $serviceImplPackage;

import com.steve.mysql.common.impl.BaseServiceImpl;
import $entityClassName;
import $mapperClassName;
import $serviceClassName;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 * create by steve
 * blog: https://www.jianshu.com/u/c8df39415ca7
 */
@Slf4j
@Service
public class $serviceImplName extends BaseServiceImpl<$entityName, $mapperName> implements $serviceName {

}